
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rodape-final {
    display: grid;
    align-items: center;
    justify-content: space-between;
    background-color: peachpuff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 400px;
}
.rodape-rede-social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-rede-social {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: stretch;
    margin: 20px;
}
.logo-rodape {
    width: 300px;
    height: 300px;
    margin: 30px;  
}
#rede-social {
    margin: 10px;
}

/*---------HEADER------------ */

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:25px;
    background-color: peachpuff;
    color: rgb(97, 56, 56);
    height: 300px;
}

.cabecalho img{
    height: 300px;
    width: 300px;
}

.cabecalho h1{
    text-align: center;
    font-size: 30px;
}

.opcoes {
    background-color:salmon;
    color: white;
    padding: 5px;
}

.menu {
    display:flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*---------MAIN------------ */
.secao1{
    display:flex;
    flex-wrap: wrap; 
    padding: 20px;
    background-color: white;
}

.imagem-secao1{
    margin-left: 30px;
}

.imagem-secao1 img{
    width: 650px;
    box-shadow: 2px 2px 5px peachpuff;
}

.imagem-secao1 h2{
    margin: 0 0 20px 0;
    text-align: center;
}

.selecao{
    display: flex;
    margin: 20px 20px 200px 20px;
    padding: 25px;
    background-color: pink;
    justify-content: center;
}

.secao2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.imagem-secao2{
    align-items: center;
    text-align: center;
    align-items: center;
}

/*---------MEDIA QUERY------------ */
@media screen and (min-device-width: 320px) and (max-device-width: 420px){
    .cabecalho {
        grid-template-columns: 1fr;
        width: 100%;
        position: fixed;
        top: 0;
        height: 200px;
    }

    .cabecalho img{
        height: 200px;
        width: 200px;
    }

    .cabecalho h1{
        font-size: 25px;
    }

    
    
}

